meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=1')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(name='description', content='TheGzM.Space Index.')
meta(name='keywords', content='gazmull, euni, thegzm')
meta(name='robots', content='index, follow')
meta(property='og:image', content='https://thegzm.space/assets/img/logo.png')
meta(property='og:image:secure_url', content='https://thegzm.space/assets/img/logo.png')
meta(property='og:image:alt', content='lowgo')
meta(property='og:site_name', content='TheGzM.Space - gazmull\'s Personal Site')
meta(property='og:title', content='What are You Doing in My Swamp?')
link(rel='shortcut icon', type='image/png', href='assets/img/logo.png')
