nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent(role='navigation')
  a.navbar-brand(href='/')
    img.d-inline-block.align-top(src='/assets/img/logo.png', alt='logo', width=30, height=30)
    | TheGzM.Space
  button.navbar-toggler(data-toggle='collapse', data-target='#navbarText')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarText
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='/projects.html') PROJECTS
      li.nav-item
        a.nav-link(href='/github.html') GITHUB
      li.nav-item
        a.nav-link(href='/discord.html') DISCORD
