nav(role='navigation')
  .button
    .text-center
      a.mx-1(href='/', title='Click me to go at index!')
        img(src='/assets/img/logo.png', alt='logo', width=48, height=48)
      a#toggle(href='javascript:void(0)', title='Click me for navigation menu!')
        span.fa.fa-2x.fa-cog
  .content
    .row.d-lg-none
      a.col#about-toggler(href='javascript:void(0)')
        span.fa.fa-user
        br
        | ABOUT ME
    .row
      a.col(href='https://www.paypal.me/gazmull/1usd', target='_blank')
        span.fa.fa-heart
        br
        | DONATE
      a.col(href='/projects.html')
        span.fa.fa-cubes
        br
        | PROJECTS
      a.col(href='/github.html')
        span.fa.fa-github
        br
        | GITHUB
      a.col(href='/discord.html')
        span.fa.fa-comment-o
        br
        | DISCORD
