extends template/_main

mixin item (obj, url)
  - const name = obj.names.join(' / ');
  li
    a(href=`${url}#${obj.names[0].replace(/ +/g, '-')}`) #{name} 
    - if (!obj.ready)
      span.badge.badge-danger NOT AVAILABLE

mixin checkItems (items, url)
  - if (items)
    - items = items.active.concat(items.inactive);
    - if (items.length)
      ul
        - for (const item of items)
          +item(item, url)
    - else
      p Hmm... nothing to see here!
  - else
    p Hmm... resolves to nothing!

block content
  .row
    .col-sm-12.col-md-4
      h1 Welcome!
      p Contains active and inactive properties
      h3 My Projects
      +checkItems(projects, '/projects.html')
