.container-fluid {
  max-width: 1536px;
  opacity: 0;
  transform: translate3d(-70px, -30px, 0) scale3d(0.85, 0.9, 0.85);
}

.navbar {
  box-shadow: 0px -3px 10px black;
  margin-bottom: 10px;
}

.badge {
  margin: 3px auto;
}

.project {
  cursor: help;
  overflow: hidden;
  & .card-img-overlay {
    background-color: $core-bg-overlay;
    padding: 10px;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    z-index: -1;
    &.hovered {
      opacity: 1;
      z-index: 0;
      will-change: opacity;
    }
  }
  & img {
    opacity: 1;
    transition: all $core-transition;
    &.covered {
      filter: brightness(25%);
    }
    &.hovered {
      opacity: 0.5;
      transform: scale(1.25);
      will-change: opacity, transform;
    }
  }
}

.modal {
  & .modal-title, & .close {
    z-index: 1051;
  }
  & .close {
    padding: 0.4em 0.32em;
    margin: -1.2rem -0.5rem -1rem auto;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    font-weight: normal;
    opacity: 1 !important;
    box-shadow: $core-shadow-style;
    background-color: $core-bg-danger;
  }
  & .modal-background {
    z-index: 1050;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    height: 68px;
    & img {
      mask-image: linear-gradient(rgba(0, 0, 0, 1.0), transparent);
      filter: grayscale(95%);
      opacity: 0.5;
    }
  }
}

.modal-open {
  & .modal {
    overflow-y: visible !important;
  }
}

.modal-backdrop {
  &.show {
    opacity: 0;
  }
}

.bg-transparent {
  background-color: $core-bg !important;
}

.aero {
  border: none;
  border-radius: 0;
  box-shadow: $core-shadow-style;
}
