* {
  backface-visibility: hidden;
}

body {
  background-color: $core-bg;
  color: $core-text;
  font-family: $core-font-content;
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $core-font-header;
}

ul {
  list-style-type: square;
}

a {
  &:link, &:visited {
    color: $core-text-url;
    text-decoration: none !important;
    font-weight: normal;
    transition: color .1s linear;
  }
  &:hover {
    color: $core-text;
  }
  &:active {
    color: $core-text-hover;
  }
}
