* {
  backface-visibility: hidden;
}

body {
  background-color: #333;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll !important;
  padding-right: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}

ul {
  list-style-type: square;
}

a {
  &:link, &:visited {
    color: #FF00AE;
    text-decoration: none !important;
    font-weight: normal;
    transition: color .1s linear;
  }
  &:hover {
    color: #FFF;
  }
  &:active {
    color: #FF00FF;
  }
}
